@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap");
.main-bg {
  background-image: url("../src/img/topimg.png");
  background-repeat: no-repeat;
  opacity: 0.7;
  background-color: #23979f;
}
.nav-bg {
  background-color: black !important;
  height: 66px;
}
.input-loc {
  margin-left: 30px !important;
  height: 45px;
  width: 200px !important;
}
.main-title {
  color: white !important;
  font-family: "Roboto";
  font-weight: 400 !important;
}
.nav-text {
  color: white !important;
}
.search-btn {
  background-color: #29d9d8;
}
.filter {
  margin-left: 100px;
}
.skill-img {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  margin-left: 40px !important;
}
.location-img {
  width: 17px;
  height: 17px;
  margin-left: 15.5rem !important;
  position: absolute;
  left: 0;
  z-index: 9;
}
.gallery {
  height: 180px;
  width: 100%;
  background-color: teal;
  background-image: url(../src/img/hand.png);
}
.hand {
  height: 100%;
  width: 100%;
  
}
.lens-holder {
  height: 30rem;
  width: 100%;
  background: rgb(26, 249, 255);
  background: linear-gradient(90deg, rgba(26, 249, 255, 1) 5%, rgba(87, 15, 73, 1) 90%, rgba(255, 255, 255, 1) 97%);
  position: relative;
  bottom: 0;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .mobile-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 10px !important;
  }
  .mobile-input{
    width: 100% !important; 
    margin-top: 10px;
  }
}
.text-info{
  font-size: 35px;
  font-weight: bold;
}
.heading{
  font-size: 41px !important;
  font-weight: regular !important;
  margin-left: 139px !important;
  margin-bottom: 184px !important;
  font: Segoe UI !important;
  color: white;
}
.boxtype{
  width: 306;
  height: 52;
  margin-top: 139;
  color: black;
}
.boxtype2{
  width: 228;
  height: 52;

}
.fulbox{
  margin-left: -10px;
  
}
.subheading{
  color: white;
  align-items: left;
  margin-left: 100px;
}
.heading-color{
  color: #0B5E64;
  font-size: 50px;

}
.green{
  height: 30px;
  background-color: teal;
  background-image: url(../src/img/hand.png);
}
.black{
  height: 200px;
  background-color: black;
}